body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	background-color: #f4f4f4;
	min-height: 100vh;
	overflow: clip;
}

div.joke {
	background-color: #fff;
	border: 1px solid #ddd;
	margin: 50px auto;
	padding: 20px;
	width: 400px;
	text-align: center;
	border-radius: 25px;
}

h1 {
	font-size: 1.7rem;
}

p {
	font-size: 1.3rem;
	font-style: italic;
}

button {
	background-color: #5c5c5c;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	height: 50px;
	border-radius: 25px;
	font-weight: bold;

	transition: all 0.2s ease;
}

button:hover {
	background-color: #4CAF50;
}
